html, body{
  height:100%;
}
.jumbotron{
  background-color: transparent;
}

.site-purpose{
  background-color: #ffcb0c;
  color:white;
}
.navbar-brand{
  font-size: 50px;
}
.navbar{
  background-color: #ffcb0c;
}
.site-purpose h1{
  float:left;
}
.btn-login, .btn-signup{
  float: right;
}
#purpose-list{
  clear: both;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
}
.site-purpose ul {
  list-style-type: none;
}
.login{
  display: none;
}
.landing{
  height: 100%;
}
.login-signup{
  text-align: center;
}
.btn-signup{
  display: none;
}
.cols{
  border:solid 1px #ffcb0c;
  
}