html, body{
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
  color: #0c4e7b;
  font-family: 'Slabo 27px', serif;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Cinzel', serif;
}
.jumbotron{
  background-color: transparent;
}

.site-purpose{
  background-color: #ffcb0c;
  color:white;
}
.navbar-brand{
  font-size: 50px;
  color: #0c4e7b;
}

.navbar{
  background-color: #ffcb0c;
}

.nav-login{
  float:left;
}
.site-purpose h1{
  float:left;
}


#purpose-list{
  clear: both;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
}
.site-purpose ul {
  list-style-type: none;
}
.login{
  display: none;
}

.landing{
  height: 100%;
}
.login-signup{
  text-align: center;
  padding-right:25px;
}
.btn-signup{
  display: none;
}
.cols{
  /* border:solid 1px #ffcb0c; */
}
#logo{
  height:100px;
}
.logout-link{
  float:left;
}
.logout-link .nav-link{
  color:#0c4e7b;
}
.nav-link{
  font-size: 20px;
}
#navbarSupportedContent{
  padding-right:15px;
  padding-left:80px;
}
.container{
  padding-top:10px;
}
#hey{
  max-width: 100%;
}